body
{
    padding:0;
    margin:0;
    color:#505050;
    font-family:trebuchet ms,helvetica,sans-serif;
    font-size:16px;
}

h1
{
    margin:0.25em;
    font-weight:normal;
    font-size:2em;
}

h2
{
    margin:0.5em;
    font-size:1.5em;
}

div
{
    overflow:hidden;
}

p
{
    margin:0.5em;
}

input
{
    color:#505050;
}

h3.hPanel
{
    margin:0;
    padding:0.25em 1em 0.25em 0.5em;
    font-size:1.1em;
    font-weight:normal;
    /*
    background:white;
    color:#a8a8a8;
    */
    background-color:#a8a8a8;
    color:white;
}

.build
{
    display:inline-flex;
    margin:0 0.5em 0.5em 0.5em;
    border-radius:0.5em;
    overflow:hidden;
    border:1px solid #a8a8a8;
    /*flex-direction:column;*/
    /*
    background-color:#a8a8a8;
    */
    background-color:white;
}

.buildMenu
{
    min-width:3em;
    width:3em;
    margin:0 0.5em 0 0;
    border:none;
    text-align:center;
    vertical-align:center;
    /*
    background:white;
    color:#a8a8a8;
    */
    background-color:#a8a8a8;
    color:white;
}

.panel
{
    margin:0.5em 0.5em 0.5em 0;
    border:1px solid white;
    /*
    background-color:#a8a8a8;
    color:white;
    */
    border:1px solid #a8a8a8;
    background:white;
}

.panel > *
{
    margin:0.25em 0.5em 0.25em 0.5em;
}

.panelForm
{
    margin:0;
}

.panelForm > *
{
    margin:0.5em;
}

.submitButton
{
    visibility:hidden;
}

.wepPanel
{
    min-width:14em;
    width:14em;
}

.modPanel
{
    min-width:14em;
    width:14em;
}

.DPSPanel
{
    min-width:80em;
    width:80em;
}

/*
.lStatInput
{
    color:black;
}
*/

.dStatInput
{
    overflow:visible;
    margin:0.5em;
}

.iStatInput
{
    float:right;
    /* width:4.5em; */
    width:3.1em;
    padding:0;
    text-align:right;
    font-size:1em;
    font-family:trebuchet ms,helvetica,sans-serif;
    /*
    border:1px solid white;
    background-color:#a8a8a8;
    color:white;
    */
    /*border:1px solid white;*/
    border:none;
    outline:none;
    background-color:white;
    -moz-appearance:textfield;
}

/*
.wepPanel .iStatInput
{
    width:3.1em !important;
}
*/

.iStatInputElem
{
    float:none !important;
}


.iStatInput:hover,
.iStatInput:focus
{
    /*border:1px solid #a8a8a8;*/
    outline:none;
    border:none;
    background-color:#f0f0f0;
    /*box-shadow:0 0 0 1px #a8a8a8 inset;*/
}

.iStatInput::-webkit-inner-spin-button,
.iStatInput::-webkit-outer-spin-button
{
    -webkit-appearance:none;
    margin:0;
}

.containerGridDamage
{
    display:grid;
    /*grid-row-gap:0.5em;*/
    grid-template-columns:auto auto;
    grid-template-rows:auto auto auto auto auto auto auto;
    justify-content:space-between;
}

.containerGridDamageModType
{
    display:grid;
    /*grid-row-gap:0.5em;*/
    grid-template-columns:auto auto;
    grid-template-rows:auto auto auto auto;
    justify-content:space-between;
}

.itemGridDamageColA
{
    grid-column:1;
    text-align: left;
}

.itemGridDamageColB
{
    grid-column:2;
    text-align: right;
}

.dt
{
    display:inline-block;
    width:1em;
    height:1em;
    background-color:transparent;
    background-size:contain;
}

.impact
{
    background-image:url("impact_b.png");
}

.puncture
{
    background-image:url("puncture_b.png");
}

.slash
{
    background-image:url("slash_b.png");
}

.cold
{
    background-image:url("cold_b.png");
}

.electricity
{
    background-image:url("electricity_b.png");
}

.heat
{
    background-image:url("heat_b.png");
}

.toxin
{
    background-image:url("toxin_b.png");
}

.blast
{
    background-image:url("blast_b.png");
}

.corrosive
{
    background-image:url("corrosive_b.png");
}

.gas
{
    background-image:url("gas_b.png");
}

.magnetic
{
    background-image:url("magnetic_b.png");
}

.radiation
{
    background-image:url("radiation_b.png");
}

.viral
{
    background-image:url("viral_b.png");
}

.void
{
    background-image:url("VoidTearIcon_b.png");
}

.true
{
    background-image:url("LotusBlack.png");
}

.statDisp > *
{
    z-index:2;
}

.dispFade
{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    box-shadow:0 0 2em 1em white inset;
    background:transparent;
    z-index:9990 !important;
}

.DPSDisp
{
    position:relative;
    /*width:39em;*/
    height:25em;
}

.DPSValDisp
{
    text-align:right;
}

.dispOrigin
{
    position:absolute;
    /*transition: all 0.5s;*/
    overflow:visible;
    z-index:0;
}

.DPSShotDispOrigin
{
    /*transform:scale(0.2);*/
    left:2em;
    top:20%;
}

.DPSSttsDispOrigin
{
    /*transform:scale(0.15);*/
    left:2em;
    top:60%;
}

.DPSRateDispOrigin
{
    /*transform:scale(0.15);*/
    left:70%;
    top:90%;
}

.dispLabel
{
    position:absolute;
    box-sizing:border-box;
    top:0;
    left:0;
    /*height:1em;*/
    transform-origin:0 0;
    overflow:visible;
}

.dispAxis
{
    position:absolute;
    box-sizing:border-box;
    top:0;
    left:0;
    width:1em;
    height:0.1em;
    transform-origin:0 0;
}

.dispBlkSide
{
    position:absolute;
    box-sizing:border-box;
    bottom:0;
    left:0;
    width:1em;
    height:1em;
    transform-origin:0 100%;
    border:1px solid black;
    /*box-shadow:0 0 0 1px black inset;*/
    /*transition: all 0.5s;*/
    /*background-color:transparent !important;*/
}

.dispBlkBaffle
{
    position:absolute;
    box-sizing:border-box;
    bottom:0;
    left:0;
    width:1em;
    height:1em;
    transform-origin:0 100%;
    border:none !important;
    /*transition: all 0.5s;*/
    /*background-color:#dfdfdfbf;*/
}

.blackAxis
{
    background:black;
}

.redAxis
{
    background-color:rgba(127,0,0,0.5);
}

.baseDisp
{
    background-color:rgba(223,223,223,0.25);/*#dfdfdf3f;*/
}

.dmgeDisp
{
    background-color:rgba(159, 31, 31,0.125);/*#9f1f1f1f;*/
}

.elemDisp
{
    background-color:rgba( 47,127, 47,0.125);/*#2f7f2f1f;*/
}

.multDisp
{
    background-color:rgba(0  ,111,223,0.125);/*#006fdf1f;*/
}

.wcrtDisp
{
    background-color:rgba(127,127, 64,0);/*#7f7f3f00;*/
    border:1px dashed rgba(  0,  0,  0,0.5);
}

.mcrtDisp
{
    background-color:rgba(223,223,  0,0.09375);/*#dfdf0017;*/
}

.cdmgDisp
{
    background-color:transparent;
    border:1px dashed rgba(  0,  0,  0,0.5);
}

.sttsDisp
{
    background-color:rgba(255, 159, 127,0.5);
    outline:1px solid black;
    border:none;
}

.stslDisp
{
    background-color:transparent;
    border:1px solid rgba(  0,  0,  0,0.2);
}

.sttsText
{
    white-space:nowrap;
    color:black;
    background-color:rgba(255, 255, 255,0.75);
}

.sttGraph
{
    padding:0;
    margin:0;
}

.sttSVG
{
    width:24em;
    height:4em;
    border:1px solid black;
}

.rateDisp
{
    background-color:rgba(127,127,127,1);/*#dfdfdf3f;*/
}

#container
{
    overflow-x:scroll;
}